@media screen and (max-device-width:1309px) {
    .secondImages{
        width: 19pc;
    }
}
@media screen and (max-device-width:1263px) {
    .secondImages{
        width: 18pc;
    }
}
@media screen and (max-device-width:1199px) {
    .secondImages{
        width: 16pc;
    }
}
@media screen and (max-device-width:1071px) {
    .secondImages{
        width: 14pc;
    }
}
@media screen and (max-device-width:943px) {
    .secondImages{
        width: 12pc;
    }
}
@media screen and (max-device-width:815px) {
    .secondImages{
        width: 11pc;
    }
}
@media screen and (max-device-width:702px) {
    .secondImages{
        width: 8pc;
    }
}
@media screen and (max-device-width:625px) {
    .secondImages{
        width: 7pc;
    }
}
@media screen and (max-device-width:602px) {
    .secondImages{
        width: 5pc;
    }
}
@media screen and (max-device-width:602px) {
    .secondImages{
        width: 5pc;
    }
}
@media screen and (max-device-width:566px) {
    .secondImages{
        width: 10pc;
    }
}
@media screen and (max-device-width:528px) {
    .secondImages{
        width: 14pc;
    }
}
@media screen and (max-device-width:495px) {
    .secondImages{
        width: 13pc;
    }
}
@media screen and (max-device-width:463px) {
    .secondImages{
        width: 12pc;
    }
}
@media screen and (max-device-width:431px) {
    .secondImages{
        width: 10pc;
    }
}
@media screen and (max-device-width:367px) {
    .secondImages{
        width: 8pc;
    }
}